<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Cena</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>

<div>
    <table class="table table-bordered">
        <tr>
            <th>Aktualna cena stali [Euro/kg]</th>
        </tr>
        <tr>
            <th th:text="${steelPrice.steelPrice}"></th>
        </tr>
    </table>

    <table class="table table-bordered">
        <form action="#" th:action="@{/price}" th:object="${steelPrice}" method="post">
            <tr>
                <th colspan="2">Nowa cena stali [Euro/kg]</th>
            </tr>
            <tr>
                <th colspan="2"><input type="number" step="0.01" th:field="*{steelPrice}"/><br/></th>
            </tr>
            <tr>
                <td><a href="data" th:href="@{/price}">
                    <button type="submit" class="btn btn-default" value="Submit"><b><span
                            class="glyphicon glyphicon-thumbs-up"
                            aria-hidden="true"></span></b></button>
                </a></td>
                <td><a href="data" th:href="@{/data}">
                    <button type="reset" class="btn btn-default" value="Submit"><b><span
                            class="glyphicon glyphicon-remove"
                            aria-hidden="true"></span></b></button>
                </a><br/></td>
            </tr>
        </form>
    </table>

</div>

<div>
    <a href="menu" th:href="@{/data}">
        <button type="button" class="btn btn-default"><b>Back to Data</b></button>
    </a>
</div>
<br>

<!--<div class="starter-template">-->
<!--<form action="#" th:action="@{/price}" th:object="${steelPrice}" method="post">-->
<!--<p>Nowa cena stali <input type="text" th:field="*{steelPrice}"/></p>-->
<!--&lt;!&ndash;<p>Data początkowa <input type="datetime-local" th:field="*{startDate}"/></p>&ndash;&gt;-->
<!--&lt;!&ndash;<p>Data końcowa <input type="datetime-local" th:field="*{endDate}"/></p>&ndash;&gt;-->
<!--<p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>-->
<!--</form>-->
<!--</div>-->

</body>
</html>