<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>New Calculation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:replace="fragments/layout :: header"></div>
<form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/authenticate}">
<div class="container">

    <h2><b>New Calculation</b></h2>
    <br>

    <label for="clientName">Date:</label>
    <input type="date" name="creating a calculation" />

    <br/>
    <p>set a picture:</p>
    <input type="file" name="photo of the frame" /><br />


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clients<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/clientlist">List of Clients</a></li>
                    <li><a href="/clientadd">Add Client</a></li>
                </ul>
            </li>
        </ul>
    </div>

<br/><br/>
    <fieldset>
    <label>name of the frame: </label>
    <label><textarea name="name of the frame" cols="30" rows="1"></textarea></label>

    <br/>
    <label>drawing number: </label>
        <label><textarea name="drawing number" cols="30" rows="1"></textarea></label>
    </fieldset>

    <br/>
    <label>finish:<br/></label>
    <label><input type="checkbox" name="finish" value="paint" checked="checked" />paint</label>
    <label><input type="checkbox" name="finish" value="chrome" checked="checked" />chrome</label>
    <label><input type="checkbox" name="finish" value="raw" checked="checked" />raw</label>

    <form class="form-narrow form-horizontal" action="#" method="post" th:action="@{/authenticate}">
        <div class="container">
    <label><h4>Operations:</h4></label><br />

    <input type="button" value="add new element"  />   <!-- onClick="addTextArea();"-->
    <input type="text" name="text_new_element" /><br />
    <div id="div_quotes"></div>
    <label>operation description:</label>
    <textarea name="text_operation_description" rows="2" cols="30">type your description.... </textarea><br />
    <label>typ</label>
    <select name="types">
        <option value="giec.">giec.</option>
        <option value="ślus.">ślus.</option>
        <option value="spaw.">spaw.</option>
        <option value="szlif.">szlif.</option>
        <option value="malar.">malar.</option>
        <option value="mon.">mon.</option>
    </select><br />
    <label>operation time[s]:</label>
    <input type="text" name="operation time" /><br />
    <label>the number of repetitions:</label>
    <input type="text" name="the number of repetitions" /><br />
    <label>result(poprawić.ale to potem):</label>
    <input type="text" name="result" /><br />
    <label>quantity:</label>
    <select name="types">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select><br />
    <label>total time:</label>
    <input type="text" name="result" /><br />
    <label>total cost:</label>
    <input type="text" name="total cost" /><br />

            <td><label></label></td>
            <td><input type="submit" value="Save" class="save"/></td>
        </div>
    </form>





</div>
</form>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>