<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://java.sun.com/xml/ns/javaee">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div id="wrapper">
    <div id="header">
        <h2>Client List </h2>
    </div>
</div>
<!-- put new button: Add Client -->

<input type="button" value="Add Client" onclick="window.location.href='/clientadd'; return false;"
       class="add-client-button"/>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Client Name</th>
        <th></th>
    </tr>

    <c:forEach var="tempClient" items="${CLIENT_LIST}">

        <!-- set up a link for each client -->
        <c:url var="tempLink" value="ClientController">
            <c:param name="command" value="LOAD"/>
            <c:param name="clientId" value="${tempClient.id}"/>
        </c:url>

        <!-- set up a link to delete a client -->
        <c:url var="deleteLink" value="ClientController">
            <c:param name="command" value="DELETE"/>
            <c:param name="clientId" value="${tempClient.id}"/>
        </c:url>

        <tr>
            <td> ${tempClient.clientName} </td>
            <td>
                <a href="${tempLink}">Select</a>
                |
                <a href="${deleteLink}"
                   onclick="if (!(confirm('Are you sure you want to delete this client?'))) return false;">
                    Delete </a>
            </td>
        </tr>
    </c:forEach>

    </thead>

</table>
<p>
    <a href="/newcalculation">Back to calculation</a>
</p>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>